@use "../globals/" as *;
@use "../util/" as *;

.card {
  background-color: $Dark-desaturated-blue;
  overflow: hidden;
  width: 1110px;
  height: 446px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row-reverse;

  .overlay {
    width: 125%;
    background-image: url(../../../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-body {
    margin: 75px 120px 0px 70px;
  }

  &-title {
    color: $White;
    font-family: $Lexend-Deca;
    margin-bottom: 30px;

    & > span {
      color: $Soft-violet;
    }
  }

  &-text {
    color: $Slightly-transparent-white;
    font-family: $Inter;
    line-height: 1.5rem;
  }

  &-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > div {
      margin-top: 75px;
    }

    & > div > h2 {
      color: $White;
      font-family: $Inter;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    & > div > p {
      color: $Slightly-transparent-white-darker;
      font-family: $Inter;
      text-transform: uppercase;
      margin-top: 16px;
    }
  }
}
